# Folders
Library/
Temp/
Temp.meta
.vs/
ProjectSettings/
UnityPackageManager/

# Autosaves
*auto_*


# File types
*.suo
*.csproj
*.unityproj
*.sln
*.userprefs
*.pidb
*.swp
*.meta

# Mac punk
.DS_Store
